apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: node-app-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: microk8s-hostpath
